<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <table>
        <tbody>
            <tr>
                <td>
                    <span th:text="${title}"></span>
                </td>
            </tr>
            <tr>
                <td>
                    인증번호: <span th:text="${authCode}"></span>
                </td>
            </tr>
            <tr>
                <td>
                    <span th:text="${text}"></span>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>